/buildsexdecomp
/SexDiffPAA.aux
/SexDiffPAA.log
/.settings/
/SexDiffPAA.bbl
/SexDiffPAA.blg
/Riffe_Matrix.aux
/Riffe_Matrix.bbl
/Riffe_Matrix.blg
/Riffe_Matrix.log
/Riffe_Matrix.pdf
/PAA2016_TimandAly_v2.aux
/PAA2016_TimandAly_v2.log
/PAA2016_TimandAly_v2.pdf
/refs.bib.bak
/refs.bib
/PAA2016_TimandAly_v2.bbl
/PAA2016_TimandAly_v2.blg
/referencesTim.bib.bak
/RvRB2016.aux
/RvRB2016.log
/RvRB2016.bbl
/RvRB2016.blg
/RvRB2016.synctex.gz
/RvRB2017.bbl
/RvRB2017.blg
/RvRB2017.log
/RvRB2017.synctex.gz
/RvRB2016refs.bib.bak
/RvRB2017.bcf
/RvRB2017refs.bib.bak
