/buildsexdecomp
/SexDiffPAA.aux
/SexDiffPAA.log
/.settings/
/SexDiffPAA.bbl
/SexDiffPAA.blg
/Riffe_Matrix.aux
/Riffe_Matrix.bbl
/Riffe_Matrix.blg
/Riffe_Matrix.log
/Riffe_Matrix.pdf
/PAA2016_TimandAly_v2.aux
/PAA2016_TimandAly_v2.log
/PAA2016_TimandAly_v2.pdf
/refs.bib.bak
/refs.bib
/PAA2016_TimandAly_v2.bbl
/PAA2016_TimandAly_v2.blg
/referencesTim.bib.bak
